
.input {
    display: flex;
    width: 95%;
    align-items: center;
    position: relative;
    text-align: center;
    
    
}

.input-box {
    width:100vw;
    font-size: 25px;
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
    
}

.input-btn {
    background-color: rgb(0, 162, 65);
    width: 70px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    right: 0px;
    margin: 0px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin: 4px;
    box-shadow: 0 0 10px black;
}

.input-btn:hover {
    background-color: rgb(26, 195, 94);
    transition: 0.3s;
}

.input-btn:active {
    transform: scale(0.8);
    background-color: rgb(26, 195, 94);
}

.todos {
    display: flex;
    width: 47%;
    background-color: rgb(27, 225, 47);
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    
}

.todos-single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    background-image: url('../img/todo-item-bg.webp');
    margin-top: 15px;
    

}

.todos-heading {
    font-size: 20px;
    font-weight:600;
}

.todos-single-text {
    flex:1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todo-container {
    display: flex;
    width:95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    
}

.finished {
    background-color: rgb(217, 211, 23);
}

@media(max-width:700px) {
    .input{
        width: 95%;
    }

    .todos {
        width:95%;
        margin-bottom: 10px;
    }
    .todo-container {
        width: 95%;
        flex-direction: column;
    }

   

    .todos-single-text {
        width: 100%;
    }
}

@media(max-width:700px) {
    .todos-single {
        width: 80%;
    }


}

@media(max-width:1100px) {
    .todos {
        width: 45%;
    }
}